body {
   color: #000080;
    background-color: #ffffff;
}

.lines{
    height: 1px;
border: 0;
color: #333;
background-color: #333;
width: 100%;
}

b{
    font-size: 12px;
    display: block;
}

.geico{
    text-align: center;
}

.geico p{
    font-size: 10px;
    margin: 0px;
}


header{
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 22px;
}

span{
     font-size: 32px;
}

a:link{
    color: #800080;
}

a:visited{
    color: #ff0000;
}

.top-footer p{
    font-size: 10px;
}

footer p
{
    font-size: 10px;
}

/*1. It's important to know how to determine where the file is located in the directory and how to link 
to it using the relative path
2. We were both very open to tossing out ideas and testing out what did and didn't work using the 
preview screen on JSFiddle. I liked that we were no longer restricted to using HTML for formatting!
3. Each time the assignment asked us to do something the driver would test out ideas while the navigator 
plugged things in to Google. I'm writing this 24-hours after doing this challenge, with a GPS and another 
peer pair between them and I can't remember what we did.
4. Yes, I have some experience with classes and ids and can understand how they are powerful ways to 
target multiple elements at once. 
5. I am sure ours had mistakes, but I think ours is a bit cleaner as we integrate newer methods and practices 
into our coding. I think the Berkshire Hathway site is brilliant in its simplicity, but they developed the 
model for it ages ago (in internet terms) and things could be simpler and cleaner if they upgraded. */



